.btn-add {
    background-color: #f2795a;
    padding: 16px 24px;
    margin: 37px 20px;
    &:hover {
        background-color: #f58a6e;
        cursor: pointer;
    }
}
.btn-text {
    margin-left: 5px;
}