.application {
    display: flex;
    font-family: Arial, sans-serif;
}

.btn {
    border: 0;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    color: #fff;
    &:focus {
        outline: none;
        box-shadow: 0 0 4px #a2b3ff;
    }
}