.popup-window.popup-success {
  width: 500px;
}
.popup-success {
  &_caption {
    background-color: #fff;
    border: 1px solid #dadfea;
    padding: 38px 43px;
    text-align: center;
    font-size: 22px;
    line-height: 26px;
    font-weight: bold;
    color: #444c63;
  }
  &_footer {
    background-color: #eef1f7;
    display: flex;
    justify-content: flex-end;
  }
  &_close {
    background-color: #f2795a;
    padding: 12px 10px;
    color: #fff;
    margin: 13px 20px;
  }
}