.popupMain {
    background-color: #fff;
    width: 500px;
    padding: 20px 20px;
    padding-bottom: 0;
    fieldset {
        border: 0;
        padding: 0;
    }
    .genre-page {
        display: none;
    }
    label {
        color: #444c63;
        font-size: 13px;
        font-weight: bold;
        display: block;
    }
    .nessesary {
        color: #de4c4c;
    }
    input {
        display: block;
        border: 1px solid #d1d5e0;
        width: calc(100% - 20px);
        border-radius: 2px;
        margin-top: 10px;
        margin-bottom: 23px;
        padding: 5px 10px;
        &::placeholder {
            color: #8c97b2;
        }
        &[type = "number"] {                            // *
            -moz-appearance: textfield;                 // *
        }                                               // *
        &[type = "number"]::-webkit-outer-spin-button,  // * remove arrows on labels
        &[type = "number"]::-webkit-inner-spin-button { // *
            -webkit-appearance: none;                   // *
            margin: 0;                                  // *
        }                                               // *
        &.invalid {
            border-color: #de4c4c;
            &::placeholder {
                color: #de4c4c;
            }
        }
    }
    .general-page {
        label:nth-child(4) {
            margin-right: 10px;
        }
        label:nth-child(5) {
            margin-left: 10px;
        }
        label:nth-child(4),
        label:nth-child(5) {
            display: inline-block;
            vertical-align: text-top;
            width: calc(50% - 10px);
        }
    }
    .book-property-title {
        font-weight: bold;
    }
}